node_modules
npm-debug.log
.git
.gitignore
README.md
.env
.env.local
.env.*.local
dist
build
.DS_Store
.vscode
.idea
*.swp
*.swo
*~
.npm
.eslintcache
.cache
.parcel-cache
.next
.nuxt
out
.vuepress/dist
.serverless/
.fusebox/
.dynamodb/
.tern-port
coverage
.nyc_output
