/* src/pages/DetalleSede.css */
.detalle-sede-container {
    padding: 20px;
    width: 100%;
  }
  
  .card-header {
    background-color: #343a40;
    color: white;
  }
  
  .mb-3 {
    margin-bottom: 1rem !important;
  }
  
  .card {
    width: 100%;
  }
  
  .table {
    width: 100%;
  }